body, html{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    background-color: #FDF7E4;
}
/* NAVBAR */

/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    border: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  .animated-icon1 span {
    background: rgb(77, 69, 57);
  }
  
  .animated-icon2 span {
    background:rgb(77, 69, 57);
  }
  
  .animated-icon3 span {
    background:rgb(77, 69, 57);
  }
  
  .animated-icon1 span:nth-child(1) {
   top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
    top: 10px;
  }
  
  .animated-icon1 span:nth-child(3) {
    top: 20px;
  }
  
  .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }


  /* estilo para logo de nav */

  
  .imglogo{
    height: 100px;
    width: 100px;
    margin-left: 50%;
  }



  .dropdowntiendas{
    background-color: #FDF7E4;
  }

  /* estilo boton up */

  .goto-top {
    position: fixed;
    bottom: 70px;
    right: 5px;
    width: 75px;
    height: 50px;
}
 
/* banner parallax  */

.bannerparallax {
    display: flex;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    /*control altura del banner*/
    height: calc(85vh);
    background-position: center;
    background-image: url('../imagenes/banner.jpeg');
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.bannerparallax h1 {
    font-size: 200px;
}

.bannertxt{
    color: #FDF7E4;
}


/* footer */
footer{
    margin-top: 100px;
    background-color: black;
    color:#DED0B6;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer i{
    color:#DED0B6;

    margin: 5%;
}

/* estilo para transiciones  */

.box{
  position: relative;
  overflow: auto;
  padding: auto;

}

.efecto{
  position: absolute;
  top: 0 ;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.022);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.03 ease;

}


.box:hover .efecto {
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.588);
  
 
}

.rowfotos .box p{
  padding: 10%;
  font-size: larger;
  color: #DED0B6;
}

.containerfotos{
  margin: 3%;
}


.efecto2{
  position: absolute;
  top: 0 ;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.022);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  color: #DED0B6;
 

}

.efecto2 h3{
  font-size: 3rem;
  color: black;
  -webkit-text-stroke: 1px #DED0B6; /* width and color */


}

.efecto2:hover h3 {
  color: #ded0b600;
  -webkit-text-stroke: 1px #ded0b600; 
 
}

/* fotos */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 60px;
    height: 60px;
    /*fondo de color*/
    background-color: #e4e4e400;
    

}


.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


/*formulario*/

label {
  color: #000;
  margin-top: 20px;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bolder;
  float: left;
}

