
/* //Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
 
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }


/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #navbarCollapse li{
        font-size: x-large;
        margin-left: 100px;

    }

    .expandedbar{
        /* width: 100%; */
        display: flex;
        justify-content: space-around;
    }

    .rowfotos .box{
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
  
    .carousel-item img{
      height: 500px;
      object-fit: cover;
    }

    #contacto{
      display: flex;
        justify-content: space-around;
    }
    .contactosec {
      width: 50%;
    }


}



/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }