body{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
    background-color: #FBFFFE;
    color: #2D2D2A;
}

li{
    list-style-type: none; 

}

a{
    color: #2D2D2A;
    text-decoration: none;
}

a:hover{
    text-decoration:underline;
}
