body{
    background-image: url(/imagenes/blurbackground.jpeg);
    backdrop-filter: blur(5px);
}

.blur {
    background: rgba(66, 176, 23, 0.113); 
    backdrop-filter: blur(8px); 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

.lottie-loading{
    align-items: center;
    justify-content: center;
}

i{
    font-size: 30px;
    color: white;

}